<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>milkt web example</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <div class="container">
      <div class="row" id="milkt-wrap">

      </div>
    </div>

    <!-- example template -->
    <script type="milkt/template" id="milkt-sayhello-template">
      <h1><%= name %></h1>
      <pre>
        id: <%= id %>
      </pre>
      <a href="/product.html?productId=<%=id %>">去product</a>
    </script>

    <!-- example template -->
    <script type="milkt/template" id="milkt-example-template">
      <h1><%= skuInfo.title %></h1>
      <pre>
        <%= skuInfo.subtitle %>
      </pre>
      <div>
        <%= skuInfo.description %>
      </div>
    </script>

    <!-- build:js scripts/vendor.js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/blueimp-md5/js/md5.min.js"></script>
    <script src="/bower_components/store/dist/store.everything.min.js"></script>
    <script src="/bower_components/zepto/zepto.min.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/api/fq.getItemInfo.js"></script>
    <script src="scripts/api/demo.sayHello.js"></script>
    <script src="scripts/api/company.getLineList.js"></script>
    <script src="scripts/api/company.getLineDetailInfo.js"></script>
    <script src="scripts/api/user.login.js"></script>
    <script src="scripts/api/user.checkSmsCode.js"></script>
    <script src="scripts/util.js"></script>
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
